<html>
	<head>
	<title>Suponga mensaje de bienvenida</title>
	<meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0">
	</head>
	<body>
		<center><iframe src="https://www.youtube.com/embed/hLNy6T3KkEc?start=8" frameborder="0" style="width:50%;height:50%;"allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></center>
		<iframe srcdoc="<a href='https://twitter.com/realdonaldtrump?ref_src=twsrc%5Etfw' class='twitter-follow-button' data-show-count='false'>Follow the God-Emperor</a><script async src='https://platform.twitter.com/widgets.js' charset='utf-8'></script>
			<a class='twitter-timeline' href='https://twitter.com/realDonaldTrump?ref_src=twsrc%5Etfw'>Voxcast by the God-Emperor</a> <script async src='https://platform.twitter.com/widgets.js' charset='utf-8'></script>" style="width:100%;height:48%;"></iframe>
	
	</body>
</html>
