<html>
	<head>
	<title>About Depeche Mode's Personal Jesus</title>
	<link rel="stylesheet" href="/static/Home/styles.css">
	<meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0">
	</head>
	<body>
		<b><font size="50" color="red">About Depeche Mode's Personal Jesus
		<IMG class="displayed" src="/static/Home/thatsWhyILikeTheChicken.jpg">	
		<p>Y pues... me hizo darme cuenta que tengo la exacta cantidad de 0 fotos mias y la verdad no quiero dejar en blanco la p&aacute;gina. Por eso mejor incluyo la letra de una canci&oacute;n :)</p></font></b>
	
		<p>Reach out and touch faith</p>

		<p>Your own personal Jesus</p>

		<p>Someone to hear your prayers</p>

		<p>Someone who cares</p>

		<p>Your own personal Jesus</p>

		<p>Someone to hear your prayers</p>

		<p>Someone who's there </p>


		<p>Feeling unknown</p>

		<p>And you're all alone</p>

		<p>Flesh and bone</p>

		<p>By the telephone</p>

		<p>Lift up the receiver</p>

		<p>I'll make you a believer </p>


		<p>Take second best</p>

		<p>Put me to the test</p>

		<p>Things on your chest</p>

		<p>You need to confess</p>

		<p>I will deliver</p>

		<p>You know I'm a forgiver </p>

		
		<p>Reach out and touch faith</p>


		<p>Reach out and touch faith </p>


		<p>Your own personal Jesus</p>

		<p>Someone to hear your prayers</p>

		<p>Someone who cares</p>

		
		<p>Your own personal Jesus</p>

		<p>Someone to hear your prayers</p>

		<p>Someone who's there</p>

		
		<p>Feeling unknown</p>

		<p>And you're all alone</p>

		<p>Flesh and bone</p>

		<p>By the telephone</p>

		<p>Lift up the receiver</p>

		<p>I'll make you a believer</p>

		
		<p>I will deliver</p>

		<p>You know I'm a forgiver</p>

		
		<p>Reach out and touch faith</p>

		<p>Your own personal Jesus</p>


		<p>Reach out and touch faith</p>

		<p>Reach out and touch faith</p>

		<p>Reach out and touch faith</p>

		<p>Reach out reach out</p>

		<p>Reach out and touch faith</p>

		<p>Reach out and touch faith</p>

		<p><iframe width="560" height="315" src="https://www.youtube.com/embed/JP1ijanTrdY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
	</body>
</html>
